
<!--<table class="table">-->
<!--    <thead>-->
<!--        <tr>-->
<!--            {% for num in round_numbers %}-->
<!--                {% if num == 0 %}-->
<!--                    <th>round</th>-->
<!--                {% else %}-->
<!--                    <th>{{ num }}</th>-->
<!--                {% endif %}-->
<!--            {% endfor %}-->
<!--        </tr>-->
<!--    </thead>-->
<!--     <tbody>-->
<!--      <tr>-->
<!--            {% for dat in poor_data %}-->
<!--                <td>{{ dat }}</td>-->
<!--            {% endfor %}-->
<!--      </tr>-->
<!--      <tr>-->
<!--            {% for dat in rich_data %}-->
<!--                <td>{{ dat }}</td>-->
<!--            {% endfor %}-->
<!--      </tr>-->
<!--</table>-->

<table class="table">
    <thead>
        <tr>
            {% for dat_lb in game_data.0 %}
                <th>{{ dat_lb }}</th>
            {% endfor %}
        </tr>
    </thead>
     <tbody>
        {% for field in game_data %}

            {% if field.PlayerID == 0 %}
            <tr style="background-color: #666666;color: #ffffff;">
                {% for dat in field.values %}
                    <td>{{ dat }}</td>
                {% endfor %}
            </tr>
            {% else %}
            <tr>
                {% for dat in field.values %}
                    <td>{{ dat }}</td>
                {% endfor %}
            </tr>
            {% endif %}

        {% endfor %}
</table>
