

<table class="table">
    <thead>
        <tr>
            {% for dat_lb in game_data.0 %}
                <th>{{ dat_lb }}</th>
            {% endfor %}
        </tr>
    </thead>
     <tbody>
        {% for field in game_data %}

            {% if field.Name == 'AVG' %}
            <tr style="background-color: #666666;color: #ffffff;">
                {% for dat in field.values %}
                    <td>{{ dat }}</td>
                {% endfor %}
            </tr>
            {% else %}
            <tr>
                {% for dat in field.values %}
                    <td>{{ dat }}</td>
                {% endfor %}
            </tr>
            {% endif %}

        {% endfor %}
</table>
