{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Вклад в общее благо
{% endblock %}

{% block content %}

    <p>
        Ваша роль:
        {% if player.role == 'rich' %}
            <strong>богатый</strong>
        {% else %}
            <strong>бедный</strong>
        {% endif %}
    </p>
    <p>
        Размер фонда составляет {{Constants.threshold}}.
    </p>

    {% formfield player.contribution label=contribution_label %}

    {% next_button %}

    {% include Constants.instruction_short_template %}

{% endblock %}
