{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">
        <h3 >
            Инструкция
        </h3>

        <p>
            <strong>Выигрыш = {{ player.working_endowment }} - Вложения + Множитель * {{ player.external_endowment}}</strong>
        </p>
        <p>
            Он рассчитывается следующим образом: очки, которые вы не потратили, остаются вам.
            Если жители собрали нужную сумму для ремонта, то дамба точно устоит, дома уцелеют.
            Если средства не собраны, и дамбу не починили, то дамба <strong>рухнет с вероятностью
            {{probability_of_loss_this_group}}</strong>.<br>
            Состояние домов в городе определяет Множитель из формулы.
            Если дома остались целы, то Множитель = 1, а если дома разрушило - Множитель = 0.
        </p>
        <p>
            Ваша роль в этом раунде -
            {% if player.role == 'rich' %}
            <strong>богатый</strong>
            {% else %}
            <strong>бедный</strong>
            {% endif %}
            житель. <br>
            Это означает, что вы имеете <strong>{{ player.working_endowment }}</strong>,
            которые можете потратить на ремонт дамбы, стоимость вашего дома <strong>{{ player.external_endowment }}</strong>.<br>

            При этом
            {% if player.role == 'rich' %}
            бедные жители имеют {{ Constants.poor_working_endowment }} для ремонта
            и дом стоимостью {{ poor_external_endowment_this_group }}.
            {% else %}
            богатые жители имеют {{ Constants.rich_working_endowment }} для ремонта
            и дом стоимостью {{ rich_external_endowment_this_group }}.
            {% endif %}
        </p>
    </div>
</div>

