{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">
    <h3>
        Инструкция
    </h3>

    <p>
        В этом исследовании вы будете находиться в случайно сформированной группе
        из {{ Constants.players_per_group }} участников.
        Каждый игрок группы обладает средствами для инвестиций, из которого он будет вносить свой вклад в
        проект и накопленими, которые будут сохранены, если вы выиграете и потеряете, если проиграете.
        Теперь вы будете играть в роли
        {% if player.role == 'rich' %}
            <strong>богатого</strong>
        {% else %}
            <strong>бедного</strong>
        {% endif %}
        , которая означает, что вы имеете <strong>{{ player.working_endowment }} для инвестиций</strong>
        и {{ player.external_endowment }} накоплений.
        Целью группы является совместное вложение в общий проект, и достижение некоторого <strong>порога,
            который равен {{Constants.threshold}}</strong>.
    </p>
    <p>
        Доходы от проекта рассчитываются следующим образом:
        Если группа достигла порога, каждый игрок сохранит свои оставшиеся от инветиций средства и накопления.
        В противном случае каждый участник потеряет накопления с вероятностью {{Constants.probability_of_loss}},
        т.е. с вероятностью {{Constants.probability_of_loss}} Множитель равен 0, иначе 1.
        Ваш выигрыш равен вашим сохраненным накоплениям, плюс сумма из средств для инвестиций, которые вы не потратили.
    </p>
    <p>
        <strong>Выигрыш = {{ player.working_endowment }} - Вложения + Множитель * {{ player.external_endowment }}</strong>
    </p>
    </div>
</div>

