{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">
    <h3>
        Инструкция
    </h3>

    <p>
        Представьте, что вы живете в небольшом городе близ реки. Этой зимой дамба на вашей реке порядком износилась,
        и теперь нуждается в ремонте. Если вы ее не почините, то скорее всего весной во время паводков дамбу снесет,
        и пострадают дома всех жителей. Но вы можете сложиться и избежать касастрофы.
    </p>
    <p>
        Ремонт стоит <strong>{{Constants.threshold}}</strong> (пороговое значение).
    </p>
    <p>
        Сейчас вы будете играть в роли
        {% if player.role == 'rich' %}
            <strong>богатого</strong>
        {% else %}
            <strong>бедного</strong>
        {% endif %}
        жителя, это означает, что вы имеете <strong>{{ player.working_endowment }}</strong>,
        которые можете потратить на ремонт дамбы, стоимость вашего дома {{ player.external_endowment }}.

        При этом
        {% if player.role == 'rich' %}
            бедные жители имеют  {{ Constants.poor_working_endowment }} для ремонта
        и дом стоимостью {{ Constants.poor_external_endowment }}.
        {% else %}
            богатые жители имеют {{ Constants.rich_working_endowment }} для ремонта
        и дом стоимостью {{ Constants.rich_external_endowment }}.
        {% endif %}
    </p>
    <p>
        <strong>Выигрыш = {{ player.working_endowment }} - Вложения + Множитель * {{ player.external_endowment }}</strong>
    </p>
    <p>
        Ваш выигрыш рассчитывается следующим образом:
        сумма из денег на ремонт, которую вы не потратили, остается вам.
        Если жители достигли порога, каждый сохранит свой дом.
        В противном случае каждый дом будет разрушен с вероятностью {{Constants.probability_of_loss}}.
        Т.е. Множитель равен 0 с вероятностью {{Constants.probability_of_loss}}, и равен 1 с вероятностью {{Constants.probability_of_win}}.
    </p>
    </div>
</div>

