{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">
        <h3>
            Инструкция
        </h3>

        <p>
            Представьте, что вы живете в небольшом городе близ реки. Дамба на вашей реке порядком износилась
            и теперь нуждается в ремонте. Если вы ее не почините, то скорее всего, во время паводков дамбу снесет,
            и пострадают дома всех жителей. Но вы можете вложиться в общий фонд для ремонта дамбы и избежать катастрофы.
        </p>
        <p>
            Ремонт стоит <strong>{{Constants.threshold}}</strong> (размер фонда).
        </p>
        <p>
            Ваш выигрыш определяется по формуле:<br>
            <strong>Выигрыш = Активы - Вложения + Множитель * Стоимость дома</strong>
        </p>
        <p>
            Он рассчитывается следующим образом: очки, которые вы не потратили, остаются вам.
            Если жители собрали нужную сумму для ремонта, то дамба точно устоит, дома уцелеют.
            Если средства не собраны, и дамбу не починили, то она <strong>рухнет с вероятностью
            {{ probability_of_loss_this_group }}</strong>.<br>
            Состояние домов в городе определяет Множитель из формулы.
            Если дома остались целы, то Множитель = 1, а если дома разрушило - Множитель = 0.
        </p>
        <p>
            В игре вы будете поочередно принимать роль богатого и бедного жителя.<br>
            В роли <strong>бедного</strong> у вас будет <strong>{{ Constants.poor_working_endowment }}</strong>,
            которые вы можете потратить на ремонт дамбы, и дом стоимостью <strong>{{ poor_external_endowment_this_group }}</strong>.<br>
            В роли <strong>богатого</strong> у вас будет <strong>{{ Constants.rich_working_endowment }}</strong>,
            которые вы можете потратить на ремонт дамбы, и дом стоимостью <strong>{{ rich_external_endowment_this_group }}</strong>.
        </p>
        <p>
            Игра проходит в группах по {{Constants.players_per_group}} игрока. Состав групп и роли меняются каждый раунд.
        </p>
    </div>
</div>

