{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">
    <h3>
        Инструкция
    </h3>

    <p>
        В этом исследовании вы будете находиться в случайно сформированной группе
        из {{ Constants.players_per_group }} участников.
        Каждый игрок группы обладает средствами для инвестиций, из которых он будет вносить свой вклад в общий
        проект и накоплениями, которые будут сохранены, если вы выиграете, и утеряны, если проиграете.
        Сейчас вы будете играть в роли
        {% if player.role == 'rich' %}
            <strong>богатого</strong>
        {% else %}
            <strong>бедного</strong>
        {% endif %}
        , это означает, что вы имеете <strong>{{ player.working_endowment }} для инвестиций</strong>
        и {{ player.external_endowment }} накоплений.

        При этом
        {% if player.role == 'rich' %}
            бедные противники имеют  {{ Constants.poor_working_endowment }} для инвестиций
        и {{ Constants.poor_external_endowment }} накоплений.
        {% else %}
            богатые противники имеют {{ Constants.rich_working_endowment }} для инвестиций
        и {{ Constants.rich_external_endowment }} накоплений.
        {% endif %}

        Целью группы является совместное вложение в общий проект, и достижение некоторого <strong>порога,
            который равен {{Constants.threshold}}</strong>.
    </p>
    <p>
        <strong>Выигрыш = {{ player.working_endowment }} - Вложения + Множитель * {{ player.external_endowment }}</strong>
    </p>
    <p>
        Доходы от проекта (ваш выигрыш) рассчитываются следующим образом:
        сумма из средств для инвестиций, которые вы не потратили, остается вам.
        Если группа достигла порога, каждый игрок сохранит свои накопления.
        В противном случае каждый участник потеряет накопления с вероятностью {{Constants.probability_of_loss}}.
        Т.е. Множитель равен 0 с вероятностью {{Constants.probability_of_loss}}, и равен 1 с вероятностью {{Constants.probability_of_win}}.
    </p>
    </div>
</div>

